.App {
  text-align: center;
}


.gradient{
  background-color: #00DBDE;
  background-image: linear-gradient(90deg,#00FFFF, #8A2BE2, #FC00FF 100%);
}

.social_list{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 10px;
}

.social_list li{
  margin: 0.2em;
}

.social_list svg{
  font-size: 2.5em;
  cursor: pointer;
  color: rgb(41, 0, 128);
}



.Apptwo {
  text-align: center;
  background-image: url("./Images/background.jpg");
  background-size: cover;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;;
  font-family: "Raleway", sans-serif;
}
